extends ../layout/layout.pug

block content
    h1 Add new food
    if request
        each req in request
            .alert.alert-danger= req 
    form.d-flex.flex-column.form-group(action="/food/creat", method="post", enctype="multipart/form-data" )
        
        label(for="name") Name
        input.form-control#name(type="text", name="name",value=value?value.name:"")
        
        label(for="price") Price
        input.form-control#phone(type="text", name="price", value=value?value.price:"")
        
        label(for="vendor") Vendor
        input.form-control#pass(type="text", name="vendor", value=value?value.vendor:"")
        
        label(for='exampleFormControlFile1') Image
        input.w-auto.form-control-file(type='file', name="avatar" )
        
        button.mr-auto.btn.btn-primary.mt-2 Add
