extends ../layout/layout.pug

block content
    h1 Order list
    table.table
        th User name
        th ID
        th Time order
        th
            each data in orderList
                tr 
                    td=data.userName
                    td=data.id
                    td=data.time
                    td
                        a.btn.btn-light(href='/orderList/' + data.id) View
                        a.btn.btn-light(href='/users/' + orderList.userId) Confirm
                        a.btn.btn-light(href='/users/' + orderList.userId) Completed
                        a.btn.btn-light(href='/users/' + orderList.userId) Cancel