extends ../layout/layout.pug

block content
    -var i = 0;
    table.table
        
        th Number
        th ID
        th Content
        th Time
        th
            each data in error
                tr
                    -i += 1; 
                    td=i
                    td=data._id
                    td=data.content
                    td=data.time
                    td
                        a.btn.btn-light(href='/error/' + data._id) Fixed